<mat-drawer-container class="example-container" autosize>

  <mat-drawer #drawer class="example-sidenav" mode="side" [opened]="true">

    <img src="/assets/logo.png" alt="image" (click)="NavigateToHomeView()"
      style="display: block; margin: auto; max-width: 175px; margin-bottom: 30px; cursor: pointer;">

    <div *ngIf="isLoggedIn$ | async">

      <button mat-raised-button *ngIf="IsSupport()" (click)="NavigateToDashboardView()"
        style="display: block; min-width: 175px; max-width: 175px; margin: auto; text-align: start; margin-bottom: 30px;"
        color="primary">
        <mat-icon>dashboard</mat-icon>Dashboards
      </button>

      <button mat-raised-button *ngIf="IsSupport()" (click)="NavigateToMyHubsView()"
        style="display: block; min-width: 175px; max-width: 175px; margin: auto; text-align: start; margin-bottom: 30px;"
        color="primary">
        <mat-icon>hub</mat-icon>My hubs
      </button>

      <button mat-raised-button *ngIf="IsAdmin()" (click)="NavigateToUserView()"
        style="display: block; min-width: 175px; max-width: 175px; margin: auto; text-align: start; margin-bottom: 30px;"
        color="primary">
        <mat-icon>group</mat-icon>Users
      </button>

    </div>

  </mat-drawer>

  <div class="example-sidenav-content" style="display: flex; justify-content: space-between;">

    <button mat-button (click)="drawer.toggle()"
      style="background-color: transparent; max-height: 35px; margin-top: 4px; margin-right: 5px;">
      <mat-icon>reorder</mat-icon>
    </button>

    <button *ngIf="isLoggedIn$ | async" matTooltip="Press to logout" mat-raised-button (click)="Logout()"
      style="max-height: 35px; margin-top: 4px; margin-right: 5px;" color="warn">
      <mat-icon>logout</mat-icon>Logout
    </button>

    <button *ngIf="!(isLoggedIn$ | async)" matTooltip="Press to login" mat-raised-button
      style="max-height: 35px; margin-top: 4px; margin-right: 18px;" color="primary" (click)="NavigateToLoginView()">
      <mat-icon>login</mat-icon>
      Login
    </button>

  </div>

  <mat-card style="padding: 50px;">

    <router-outlet>
    </router-outlet>

  </mat-card>

</mat-drawer-container>

<!-- <div style="width: 200px; height: 200px; background-color: hotpink;">SSSS</div> -->
