<mat-tab-group>

  <mat-tab label="Assigned">

    <div class="mat-elevation-z8 topMargin">

      <table mat-table [dataSource]="assignedDataSource">

        <ng-container matColumnDef="id">
          <th mat-header-cell *matHeaderCellDef> Id </th>
          <td mat-cell *matCellDef="let element"> {{element.id}} </td>
        </ng-container>

        <ng-container matColumnDef="mac">
          <th mat-header-cell *matHeaderCellDef> Mac address </th>
          <td mat-cell *matCellDef="let element"> {{element.mac}} </td>
        </ng-container>

        <ng-container matColumnDef="typeName">
          <th mat-header-cell *matHeaderCellDef> Type </th>
          <td mat-cell *matCellDef="let element"> {{element.typeName}} </td>
        </ng-container>

        <ng-container matColumnDef="options">
          <th mat-header-cell *matHeaderCellDef> Options </th>
          <td mat-cell *matCellDef="let element">
            <button mat-icon-button [matMenuTriggerFor]="appMenu" class="menuButton">
              <mat-icon>more_vert</mat-icon>
            </button>
            <mat-menu #appMenu>
              <button mat-menu-item>Edit</button>
              <button mat-menu-item>Delete</button>
            </mat-menu>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

      </table>

      <mat-paginator #assigned [pageSizeOptions]="[10, 25, 50]"
                     showFirstLastButtons
                     aria-label="Select page">
      </mat-paginator>

    </div>

  </mat-tab>

  <mat-tab label="Unassigned">

    <div class="mat-elevation-z8 topMargin">

      <table mat-table [dataSource]="unassignedDataSource">

        <ng-container matColumnDef="id">
          <th mat-header-cell *matHeaderCellDef> Id </th>
          <td mat-cell *matCellDef="let element"> {{element.id}} </td>
        </ng-container>

        <ng-container matColumnDef="mac">
          <th mat-header-cell *matHeaderCellDef> Mac address </th>
          <td mat-cell *matCellDef="let element"> {{element.mac}} </td>
        </ng-container>

        <ng-container matColumnDef="typeName">
          <th mat-header-cell *matHeaderCellDef> Type </th>
          <td mat-cell *matCellDef="let element"> {{element.typeName}} </td>
        </ng-container>

        <ng-container matColumnDef="options">
          <th mat-header-cell *matHeaderCellDef> Options </th>
          <td mat-cell *matCellDef="let element">
            <button mat-icon-button [matMenuTriggerFor]="appMenu" class="menuButton">
              <mat-icon>more_vert</mat-icon>
            </button>
            <mat-menu #appMenu>
              <button mat-menu-item>Edit</button>
              <button mat-menu-item>Delete</button>
            </mat-menu>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

      </table>

      <mat-paginator #unassigned [pageSizeOptions]="[10, 25, 50]"
                     showFirstLastButtons
                     aria-label="Select page">
      </mat-paginator>

    </div>

  </mat-tab>

</mat-tab-group>


