<div style="width: 100%; display: flex; justify-content: center; align-items: center;">

  <mat-card style="display: grid; grid-row-gap: 25px; justify-content: center; min-width: 97%; height: fit-content; padding: 15px;">

    <h3 style="text-align: center;">Login</h3>

    <mat-form-field appearance="outline">
      <mat-label>Email</mat-label>
      <input matInput [formControl]="username">
      <mat-error *ngIf="username.invalid">{{getEmailErrorMessage()}}</mat-error>
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Password</mat-label>
      <input type="password" matInput [formControl]="password">
      <mat-error *ngIf="password.invalid">{{getPasswordErrorMessage()}}</mat-error>
    </mat-form-field>

    <button [disabled]="!username.valid || !password.valid" mat-raised-button color="primary" (click)="submitLogin()">Submit</button>

  </mat-card>

</div>
